<div class="containter mt-5">
    <div class="row">
        <div class ="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{titulo}}</span>
                    <form class="mt-3"  [formGroup]="adminForm" (ngSubmit)="agregarAdmin()">
                        <div class="mb-3">                           
                            <input type="text" formControlName="nombre"
                            class="form-control form-control-lg" placeholder="Nombre">
                            <div class="text-danger" 
                                *ngIf="adminForm.get('nombre')?.hasError('required') ">
                                <span>El campo Nombre del administrador <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="text" formControlName="apellidos"
                            class="form-control form-control-lg" placeholder="Apellidos">
                            <div class="text-danger" 
                                *ngIf="adminForm.get('apellidos')?.hasError('required')">
                                <span>El campo Apellidos del admin <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="text" formControlName="zona"
                            class="form-control form-control-lg" placeholder="Zona">
                            <div class="text-danger" 
                                *ngIf="adminForm.get('zona')?.hasError('required')">
                                <span>El campo Zona del admin <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="email" formControlName="email"
                            class="form-control form-control-lg " placeholder="Email">
                            <div class="text-danger" 
                                *ngIf="adminForm.get('email')?.hasError('required')">
                                <span>El campo Email del admin <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="password" formControlName="password"
                            class="form-control form-control-lg" placeholder="Password">
                            <div class="text-danger" 
                                *ngIf="adminForm.get('password')?.hasError('required') ">
                                <span>El campo Password del admin <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                         <div class="mb-3">
                            <button type="submit" class="btn btn-success btn-lg float-end" style=" border-color: white; color: white ;background-color:#e8882a;">GUARDAR</button>
                            <button routerLink ="/listar-admins" class="btn btn-secondary btn-lg float-start">ATRÁS</button>
                         </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
