<div class="containter mt-5">
    <div class="row">
        <div class ="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{titulo}}</span>
                    <form class="mt-3"  [formGroup]="riderForm" (ngSubmit)="agregarRider()">
                        <div class="mb-3">                           
                            <input type="text" formControlName="nombre"
                            class="form-control form-control-lg" placeholder="Nombre">
                            <div class="text-danger" 
                                *ngIf="riderForm.get('nombre')?.hasError('required') ">
                                <span>El campo Nombre del rider <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="text" formControlName="apellidos"
                            class="form-control form-control-lg" placeholder="Apellidos">
                            <div class="text-danger" 
                                *ngIf="riderForm.get('apellidos')?.hasError('required')">
                                <span>El campo Apellidos del rider <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="text" formControlName="nif"
                            class="form-control form-control-lg" placeholder="NIF">
                            <div class="text-danger" 
                                *ngIf="riderForm.get('nif')?.hasError('required')">
                                <span>El campo NIF del rider <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="text" formControlName="tipoVehiculo"
                            class="form-control form-control-lg" placeholder="Tipo de Vehículo">
                            <div class="text-danger" 
                                *ngIf="riderForm.get('tipoVehiculo')?.hasError('required')">
                                <span>El campo TipoVehiculo del rider <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="text" formControlName="matricula"
                            class="form-control form-control-lg" placeholder="Matrícula">
                          </div>
                          <div class="mb-3">                           
                            <input type="text" formControlName="carnet"
                            class="form-control form-control-lg" placeholder="Carnet">
                          </div>
                          <div class="mb-3">                           
                            <input type="email" formControlName="email"
                            class="form-control form-control-lg " placeholder="Email">
                            <div class="text-danger" 
                                *ngIf="riderForm.get('email')?.hasError('required') ">
                                <span>El campo Email del rider <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="password" formControlName="password"
                            class="form-control form-control-lg" placeholder="Password">
                            <div class="text-danger" 
                                *ngIf="riderForm.get('password')?.hasError('required')">
                                <span>El campo Password del rider <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                         <div class="mb-3">
                            <button type="submit" class="btn btn-success btn-lg float-end" style=" border-color: white; color: white ;background-color:#e8882a;">GUARDAR</button>
                            <button routerLink ="/listar-riders" class="btn btn-secondary btn-lg float-start">ATRÁS</button>
                         </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
    
       
