<div class="containter mt-5">
    <div class="row">
        <div class ="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{titulo}}</span>
                    <form class="mt-3"  [formGroup]="restauranteForm" (ngSubmit)="agregarRestaurante()">
                        <div class="mb-3">                           
                            <input type="text" formControlName="nombre"
                            class="form-control form-control-lg" placeholder="Nombre">
                            <div class="text-danger" 
                                *ngIf="restauranteForm.get('nombre')?.hasError('required') && restauranteForm.get('nombre')?.touched">
                                <span>El campo Nombre del restaurante <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>

                          <div class="mb-3">                           
                            <input type="text" formControlName="razonSocial"
                            class="form-control form-control-lg" placeholder="Razón Social">
                            <div class="text-danger" 
                                *ngIf="restauranteForm.get('razonSocial')?.hasError('required') && restauranteForm.get('razonSocial')?.touched">
                                <span>El campo RazonSocial del restaurante <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>

                          <div class="mb-3">                           
                            <input type="text" formControlName="cif"
                            class="form-control form-control-lg" placeholder="CIF">
                            <div class="text-danger" 
                                *ngIf="restauranteForm.get('cif')?.hasError('required') && restauranteForm.get('cif')?.touched">
                                <span>El campo CIF del restaurante <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>

                          <div class="mb-3">                           
                            <input type="text" formControlName="direccionCompleta"
                            class="form-control form-control-lg" placeholder="Direccion Completa">
                            <div class="text-danger" 
                                *ngIf="restauranteForm.get('direccionCompleta')?.hasError('required') && restauranteForm.get('direccionCompleta')?.touched">
                                <span>El campo DireccionCompleta del restaurante <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>

                          <div class="mb-3">                           
                            <input type="text" formControlName="telefono"
                            class="form-control form-control-lg" placeholder="Telefono">
                            <div class="text-danger" 
                                *ngIf="restauranteForm.get('telefono')?.hasError('required') && restauranteForm.get('telefono')?.touched">
                                <span>El campo Telefono del restaurante <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>

                            <div class="mb-3">                           
                                <input type="text" formControlName="email"
                                class="form-control form-control-lg" placeholder="Email">
                                <div class="text-danger" 
                                    *ngIf="restauranteForm.get('email')?.hasError('required') && restauranteForm.get('email')?.touched">
                                    <span>El campo Email del restaurante <strong> ES OBLIGATORIO</strong></span>
                                </div>
                            </div>

                          <div class="mb-3">                           
                                <input type="text" formControlName="categoria"
                                class="form-control form-control-lg" placeholder="Categoría">
                                <div class="text-danger" 
                                    *ngIf="restauranteForm.get('categoria')?.hasError('required') && restauranteForm.get('categoria')?.touched">
                                    <span>El campo Categoria del restaurante <strong> ES OBLIGATORIO</strong></span>
                                </div>
                            </div>
                         <div class="mb-3">
                            <button type="submit" class="btn btn-success btn-lg float-end" style=" border-color: white; color: white ;background-color:#e8882a;">GUARDAR</button>
                            <button routerLink ="/listar-restaurantes" class="btn btn-secondary btn-lg float-start">ATRÁS</button>
                         </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
