<div class="containter mt-5">
    <div class="row">
        <div class ="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">ENTREGA DE PEDIDOS</span>
                    <button class="btn btn-success float-start" style=" border-color: white; color: white ;background-color:#e8882a; font-size: 30px;" routerLink="/pagina-principal-cliente">ATRAS</button>
                    <table  class="table table-striped mt-4">
                        <thead>
                          <tr>
                            <th scope="col">Fecha y Hora</th>
                            <th scope="col">Pedidos de la entrega</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Precio total</th>
                            <th scope="col">Restaurante</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          
                        </tbody>
                      </table>
                      <hr>
                </div>
                
            </div>
        </div>
    </div>



    
</div>
