<div class="containter mt-5">
    <div class="row">
        <div class ="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{titulo}}</span>
                    <form class="mt-3"  [formGroup]="platosForm" (ngSubmit)="agregarPlato()">
                        <div class="mb-3">                           
                            <input type="text" formControlName="nombre"
                            class="form-control form-control-lg" placeholder="Nombre">
                            <div class="text-danger" 
                                *ngIf="platosForm.get('nombre')?.hasError('required') && platosForm.get('nombre')?.touched">
                                <span>El campo Nombre del plato <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type ="text" formControlName= "foto"
                            class="form-control form-control-lg" placeholder="Foto">
                            <div class="text-danger" 
                                *ngIf="platosForm.get('foto')?.hasError('required') && platosForm.get('foto')?.touched">
                                <span>El campo Foto del plato <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="text" formControlName="descripcion"
                            class="form-control form-control-lg" placeholder="Descripcion">
                            <div class="text-danger" 
                                *ngIf="platosForm.get('descripcion')?.hasError('required') && platosForm.get('descripcion')?.touched">
                                <span>El campo Descripcion del plato <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="number" formControlName="precio"
                            class="form-control form-control-lg" placeholder="Precio">
                            <div class="text-danger" 
                                *ngIf="platosForm.get('precio')?.hasError('required') && platosForm.get('precio')?.touched">
                                <span>El campo Precio del plato <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="text" formControlName="aptoVeganos"
                            class="form-control form-control-lg" placeholder="AptoVeganos">
                            <div class="text-danger" 
                                *ngIf="platosForm.get('aptoVeganos')?.hasError('required') && platosForm.get('aptoVeganos')?.touched">
                                <span>El campo AptoVeganos del plato <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="text" formControlName="idRestaurante"
                            class="form-control form-control-lg" placeholder="idRestaurante">
                          </div>
                         <div class="mb-3">
                            <button type="submit" class="btn btn-success btn-lg float-end" style=" border-color: white; color: white ;background-color:#e8882a;">GUARDAR</button>
                            <button (click)="vaciarIdRestaurante()" routerLink ="/listar-platos" class="btn btn-secondary btn-lg float-start">ATRÁS</button>
                         </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
