<div class="containter mt-5">
    <div class="row">
        <div class ="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">RIDERS</span>
                    <button class="btn btn-success float-end" style=" border-color: white; color: white ;background-color:#e8882a; font-size: 30px;" routerLink="/crear-rider">NUEVO</button>
                    <button class="btn btn-success float-start" style=" border-color: white; color: white ;background-color:#e8882a; font-size: 30px;" routerLink="/pagina-principal">ATRAS</button>
                    <table *ngIf ="listRiders.length > 0" class="table table-striped mt-4">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">NIF</th>
                            <th scope="col">Tipo de vehículo</th>
                            <th scope="col">Matrícula</th>
                            <th scope="col">Carnet</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let rider of listRiders">
                            <td>{{rider.nombre}}</td>
                            <td>{{ rider.apellidos }}</td>
                            <td>{{ rider.nif }}</td>
                            <td>{{ rider.tipoVehiculo }}</td>
                            <td>{{ rider.matricula }}</td>
                            <td>{{ rider.carnet }}</td>
                            <td>{{ rider.email }}</td>
                            <td>{{ rider.password }}</td>
                            <td>
                                <i [routerLink]="['/editar-rider', rider.id]" class="fa-solid fa-user-pen text-primary"></i>
                                <i (click)="eliminarRider(rider.id)" class="fa-solid fa-trash text-danger"></i>
                                
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <hr>
                      <h5 style=" margin-top: 10px;" *ngIf ="listRiders.length == 0">NO HAY RIDERS GUARDADOS</h5>
                </div>
            </div>
        </div>
    </div>




</div>
