<div class="containter mt-5">
    <div class="row">
        <div class ="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">PEDIDOS</span>
                    <button class="btn btn-success float-start" style=" border-color: white; color: white ;background-color:#e8882a; font-size: 30px;" routerLink="/pagina-principal-cliente">ATRAS</button>
                    <table *ngIf ="listPedidosRealizados.length > 0" class="table table-striped mt-4">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">PrecioPlato</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">PrecioTotal</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let pedido of listPedidosRealizados">
                            <td>{{ pedido.nombrePlato}}</td>
                            <td>{{ pedido.precioPlato }}</td>
                            <td>{{ pedido.cantidadPlato }}</td>
                            <td>{{ pedido.precioTotal }}</td>
                            <td>                                
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <hr>
                      <h5 style=" margin-top: 10px;" *ngIf ="listPedidosRealizados.length == 0">NO HAY PEDIDOS EN EL HISTORIAL</h5>
                </div>
            </div>
        </div>
    </div>



</div>
