<div class="containter mt-5">
  <div class="row">
      <div class ="col-lg-6 offset-lg-3">
          <div class="card">
              <div class="card-body text-center">
                  <span class="titulo">LOGIN</span>
                  <button routerLink ="/register" class="btn btn-secondary btn-lg float-end" style=" border-color: white; color: white ;background-color:#e8882a;">REGISTRAR</button>
                  <button routerLink ="/pantallaInicial" class="btn btn-secondary btn-lg float-start" style=" border-color: white; color: white ;background-color:#e8882a;">ATRAS</button>
                  <form class="mt-3"  [formGroup]="loginForm" (ngSubmit)="onLogin()">
                        <div class="mb-3">                           
                          <input type="email" formControlName="email"
                          class="form-control form-control-lg " placeholder="Email">
                          <div class="text-danger" 
                              *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                              <span>El campo Email del cliente <strong> ES OBLIGATORIO</strong></span>
                          </div>
                        </div>
                        <div class="mb-3">                           
                          <input type="password" formControlName="password"
                          class="form-control form-control-lg" placeholder="Password">
                          <div class="text-danger" 
                              *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                              <span>El campo Password del cliente <strong> ES OBLIGATORIO</strong></span>
                          </div>
                        </div>
                       <div class="mb-3">
                          <button type="submit" class="btn btn-success btn-lg float-end" style=" border-color: white; color: white ;background-color:#e8882a;">LOGIN</button>
                       </div>
                  </form>
              </div>
          </div>

      </div>
  </div>

</div>





