<div class="containter mt-5">
    <div class="row">
        <div class ="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">RESTAURANTES</span>
                    <button class="btn btn-success float-start" style=" border-color: white; color: white ;background-color:#e8882a; font-size: 30px;" routerLink="/pagina-principal-cliente">ATRAS</button>
                    <table *ngIf ="listRestaurantes.length > 0" class="table table-striped mt-4">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">RazonSocial</th>
                            <th scope="col">CIF</th>
                            <th scope="col">DireccionCompleta</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Email</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Valoraciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let restaurante of listRestaurantes">
                            <td>{{ restaurante.nombre}}</td>
                            <td>{{ restaurante.razonSocial }}</td>
                            <td>{{ restaurante.cif }}</td>
                            <td>{{ restaurante.direccionCompleta }}</td>
                            <td>{{ restaurante.telefono }}</td>
                            <td>{{ restaurante.email }}</td>
                            <td>{{ restaurante.categoria }}</td>
                            <td>
                              <i [routerLink]="['/ver-valoraciones-restaurante', restaurante.nombre]" class="fa-solid fa-message"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <hr>
                      <h5 style=" margin-top: 10px;" *ngIf ="listRestaurantes.length == 0">NO HAY RESTAURANTES GUARDADOS</h5>
                </div>
            </div>
        </div>
    </div>
