<div class="containter mt-5">
    <div class="row">
        <div class ="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">ADMINISTRADORES</span>
                    <button class="btn btn-success float-end" style=" border-color: white; color: white ;background-color:#e8882a; font-size: 30px;" routerLink="/crear-admin">NUEVO</button>
                    <button class="btn btn-success float-start" style=" border-color: white; color: white ;background-color:#e8882a; font-size: 30px;" routerLink="/pagina-principal">ATRAS</button>
                    <table *ngIf ="listAdmins.length > 0" class="table table-striped mt-4">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Zona</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let admin of listAdmins">
                            <td>{{ admin.nombre}}</td>
                            <td>{{ admin.apellidos }}</td>
                            <td>{{ admin.zona }}</td>
                            <td>{{ admin.email }}</td>
                            <td>{{ admin.password }}</td>
                            <td>
                                <i [routerLink]="['/editar-admin', admin.id]" class="fa-solid fa-user-pen text-primary"></i>
                                <i (click)="eliminarAdmin(admin.id)" class="fa-solid fa-trash text-danger"></i>
                                
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <hr>
                      <h5 style=" margin-top: 10px;" *ngIf ="listAdmins.length == 0">NO HAY ADMINISTRADORES GUARDADOS</h5>
                </div>
            </div>
        </div>
    </div>




</div>
