<div class="containter mt-5">
    <div class="row">
        <div class ="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{titulo}}</span>
                    <form class="mt-3"  [formGroup]="clienteForm" (ngSubmit)="editarCliente()">
                        <div class="mb-3">                           
                            <input type="text" formControlName="nombre"
                            class="form-control form-control-lg" placeholder="Nombre">
                            <div class="text-danger" 
                                *ngIf="clienteForm.get('nombre')?.hasError('required')">
                                <span>El campo Nombre del cliente <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="text" formControlName="apellidos"
                            class="form-control form-control-lg" placeholder="Apellidos">
                            <div class="text-danger" 
                                *ngIf="clienteForm.get('apellidos')?.hasError('required') ">
                                <span>El campo Apellidos del cliente <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="text" formControlName="nif"
                            class="form-control form-control-lg" placeholder="NIF">
                            <div class="text-danger" 
                                *ngIf="clienteForm.get('nif')?.hasError('required') ">
                                <span>El campo NIF del cliente <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">                           
                            <input type="text" formControlName="direccionCompleta"
                            class="form-control form-control-lg" placeholder="Dirección Completa">
                            <div class="text-danger" 
                                *ngIf="clienteForm.get('direccionCompleta')?.hasError('required') ">
                                <span>El campo DireccionCompleta del cliente <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>

                          <div class="mb-3">                           
                            <input type="number" formControlName="telefono"
                            class="form-control form-control-lg" placeholder="Teléfono">
                            <div class="text-danger" 
                                *ngIf="clienteForm.get('telefono')?.hasError('required') ">
                                <span>El campo Telefono del cliente <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                          

                          <div class="mb-3">                           
                            <input type="email" formControlName="email"
                            class="form-control form-control-lg " placeholder="Email" readonly=">>readonly>>">
                          </div>
                          <div class="mb-3">                           
                            <input type="password" formControlName="password"
                            class="form-control form-control-lg" placeholder="Password">
                            <div class="text-danger" 
                                *ngIf="clienteForm.get('password')?.hasError('required') ">
                                <span>El campo Password del cliente <strong> ES OBLIGATORIO</strong></span>
                            </div>
                          </div>
                         <div class="mb-3">
                            <button type="submit" class="btn btn-success btn-lg float-end" style=" border-color: white; color: white ;background-color:#e8882a;">GUARDAR</button>
                            <button routerLink ="/pagina-principal-cliente" class="btn btn-secondary btn-lg float-start">ATRÁS</button>
                         </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
